html {
    height: 100%;
}

body {
    background-color: black;
    height: 100%;
}

header {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 10%;
}

#menu {
    background-color: crimson;
    display: flex;
    height: 100%;
}

#logo {
    background-color: fuchsia;
    width: 20%;
    margin-left: 1%;
    margin-right: 2%;
}

#pages {
    background-color: forestgreen;
    display: flex;
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
}

.page {
    background-color: blue;
    display: flex;
    width: 18%;
    margin-right: 1%;
    margin-left: 1%;
    justify-content: center;
    align-items: center;
}

#login {
    background-color: honeydew;
    width: 20%;
    margin-left: 2%;
    margin-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-button {
    background-color: lightcyan;
    height: 50%;
}

#content {
    background-color: gold;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 74%;
}

footer {
    background-color: lightseagreen;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 10%;
}